header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background
}
button{
    width: 100px;
    color: snow;
    background-color: springgreen;
    border-radius: 15px;
}